@import "~bootstrap/scss/bootstrap.scss";

.visible{
visibility: visible;
}
.hidden{
    visibility:hidden;
}
.container{
    background: white;
    width:600px;
    height:800px;
  
}
.container-fluid{
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
h1{
   align-content: center;
}
   
ul{
    border: 1px solid gray;
    
}

